@use "../../../../assets/fonts/fonts" as *;


.search-engine {
    &-active {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &__result {
        color: var(--color-black); /* $color_dark */
    }

    &__result > a {
        color: var(--color-black); /* $color_dark */
        background-color: white;
        text-decoration: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 3.5rem;
    }

    &__result > a:last-child {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-bottom: 10px !important;
    }

    &__result a:hover {
        background-color: var(--color-gray-300); /* $color_gray_3 */
    }
}


