services:
  bugzilo-front:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - STAGE_BUILD=production
    image: bugzilo-front:latest
    container_name: node-bugzilo-front-container
    ports:
      - "80:80"
    restart: always
