services:
  bugzilo-front:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - STAGE_BUILD=production
    image: bugzilo-front:latest
    container_name: node-bugzilo-front-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
