services:
  bugzilo-front:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - STAGE_BUILD=production
    image: bugzilo-front:latest
    container_name: node-bugzilo-front-container
    expose:
      - "3000"
    networks:
      - gateway-network
    restart: always

networks:
  gateway-network:
    name: gateway-network
    external: true
