@font-face {
  font-family: "Retro Team";
  src: url(./retro/RetroTeam.otf);
}

@font-face {
  font-family: "Plane Cash";
  src: url(./plane_crash/PlaneCrash.ttf);
}

@font-face {
  font-family: "Mom Typewriter";
  src: url(./moms_typewriter/Momt___.ttf);
}


@font-face {
  font-family: "Hornbil Black";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Black.otf");
}

@font-face {
  font-family: "Hornbil Black";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Black.otf");
}

@font-face {
  font-family: "Hornbil Black Italic";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-BlackItalic.otf");
}

@font-face {
  font-family: "Hornbil Bold";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Bold.otf");
}


@font-face {
  font-family: "Hornbil Bold Italic";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-BoldItalic.otf");
}


@font-face {
  font-family: "BenjaminFranklin";
  src: url("./BenjaminFranklin.ttf");
}

@font-face {
  font-family: "KGRedHands";
  src: url("./kg_red_hands/KGRedHands.ttf");
}

@font-face {
  font-family: "KGRedHandsOutline";
  src: url("./kg_red_hands/KGRedHandsOutline.ttf");
}

@font-face {
  font-family: "JMH Typewriter black";
  src: url("./jmh_typewriter/JMH Typewriter-Black.otf");
}


@font-face {
  font-family: "JMH Typewriter bold";
  src: url("./jmh_typewriter/JMH Typewriter-Bold.ttf");
}

@font-face {
  font-family: "JMH Typewriter Thin";
  src: url("./jmh_typewriter/JMH Typewriter-Thin.ttf");
}


@font-face {
  font-family: "JMH Typewriter";
  src: url("./jmh_typewriter/JMH\ Typewriter.ttf");
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("./jmh_typewriter/JMH\ Typewriter.ttf");
}


@font-face {
  font-family: "Gord-Quick-Font";
  src: url("./Gord-Quick-Font/gordqucikblack-p7erv.otf");
}

@font-face {
  font-family: "Cacha-font";
  src: url("./cacha-font//CachaPersonalUseRegular-GOx6g.ttf");
}

$font_hight_retro: "Retro Team";
$font_small_retro: "Mom Typewriter";
$font_navbar: "Plane Cash";
$font_hornbil_black: "Hornbil Black";
$font_hornbil_black_italic: "Hornbil Black Italic";
$font_hornbil_bold: "Hornbil Bold";
$font_hornbil_bold_italic: "Hornbil Bold Italic";
$font_benjamin_franklin: "BenjaminFranklin";
$font_kg_red_hands: "KGRedHands";
$font_kg_red_hands_outline: "KGRedHandsOutline";
$font_typewriter: "JMH Typewriter";
$font_typewriter_thin: "JMH Typewriter Thin";
$font_cacha: "Cacha-font";


.font-hight-retro {
  font-family: $font_hight_retro;
  letter-spacing: 3px;
}

.font-small-retro {
  font-family: $font_small_retro;
  letter-spacing: 2px;
}

.font-hight-retro_1 {
  text-transform: lowercase;
  font-family: $font_navbar;
  letter-spacing: 1px;
}

.font-plane-cash {
  text-transform: lowercase;
  font-family: $font_navbar;
  letter-spacing: 2px;
}


.font-ford-quick-font {
  font-family: "Gord-Quick-Font" !important;
}


.font-typewriter {
  font-family: $font_typewriter !important;
}