// Font Size Tokens
:root {
  --font-size-xs: 0.6rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xlg: 2rem;
}

// Font Family Tokens
:root {
  --font-family-high: "Nougat-ExtraBlack";
  --font-family-mid: "JMH Typewriter Bold";
  --font-family-low: "JMH Typewriter";
}


@font-face {
  font-family: "JMH Typewriter Bold";
  src: url("./jmh_typewriter/JMH Typewriter-Bold.ttf");
}


@font-face {
  font-family: "JMH Typewriter";
  src: url("./jmh_typewriter/JMH\ Typewriter.ttf");
}


@font-face {
  font-family: "Nougat-ExtraBlack";
  src: url("./Nougat-ExtraBlack.ttf");
}



.content-high {
  font-family: var(--font-family-high);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-mid {
  font-family: var(--font-family-mid);
  letter-spacing: 1px;
}

.content-low {
  font-family: var(--font-family-low);
  letter-spacing: 1px;
}


.size-xlg {
  font-size: var(--font-size-xlg);
}

.size-lg {
  font-size: var(--font-size-lg);
}

.size-md {
  font-size: var(--font-size-md);
}

.size-sm {
  font-size: var(--font-size-sm);
}

.size-xs {
  font-size: var(--font-size-xs);
}
