@font-face {
  font-family: "JMH Typewriter bold";
  src: url("./jmh_typewriter/JMH Typewriter-Bold.ttf");
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("./jmh_typewriter/JMH\ Typewriter.ttf");
}


@font-face {
  font-family: "Nougat-ExtraBlack";
  src: url("./Nougat-ExtraBlack.ttf");
}