@use "../../../../assets/_variables" as *;

.design-process-section {
    overflow-x: auto;
}

.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    z-index: 0;

    li {
        display: inline-block;
        text-align: center;
        position: relative;

        &::after {
            background: #e5e5e5;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            margin: 0 auto;
            position: absolute;
            right: -50%;
            top: 33px;
            width: 85%;
            z-index: -1;
        }

        &.visited::after {
            background: #57b87b;
        }

        &:last-child::after {
            width: 0;
        }

        button {
            padding: 0;
            border: none;
            color: $color_gray_2;
            text-decoration: none;
            background: transparent;
        }

        &.active, &.visited {
            color: $color_gray_6;
            
            button {
                color: $color_gray_6;
            }
            
            p {
                font-weight: 600;
            }
            
            i {
                background: $color_gray_6;
                border-color: #fff;
                color: #fff;
            }
        }

        i {
            display: block;
            height: 68px;
            width: 68px;
            text-align: center;
            margin: 0 auto;
            background: #f5f6f7;
            border: 2px solid #e5e5e5;
            line-height: 65px;
            font-size: 30px;
            border-radius: 50%;
        }

        p {
            margin-top: 11px;
        }
    }

    &.contact-us-tab li {
        &.visited {
            button, p {
                color: $color_gray_6 !important;
                font-weight: normal;
            }
            
            i {
                border-color: #e5e5e5;
            }
        }

        &::after {
            display: none;
        }
    }
}

.btn:focus {
    box-shadow: none;
}

@media screen and (max-width: 380px) {
    .process-model {
        width: 500px;
    }
}