<section class="container vh-100">
	<div class="d-flex justify-content-center h-100">
		<div class="form">
			<div class="card-header ps-4 pe-4 pt-4">
				<h3 class="content-high size-lg">NUEVA CONTRASEÑA</h3>
			</div>
			<div class="card-body ps-4 pe-4 pt-4 pb-4">
				@if (errorMessage()) {
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{errorMessage()}}
					<button (click)="errorMessage.set(null)" type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
				}

				@if (successMessage()) {
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{successMessage()}}
					<button (click)="successMessage.set(null)" type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
				}

				<form [formGroup]="presenter.form">
					<div class="input-group form-group mb-4">
						<app-input formControlName="passwordControl" [errorControl]="presenter.ERROR_CONTROL.password"
							class="w-100" type="password" placeHolder="Escribe tu nueva contraseña">
						</app-input>
					</div>
					<div class="form-group">
						<app-button (click)="resetPassword()">
							CONFIRMAR
						</app-button>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center mb-2 mt-2 content-low size-md">
					<a routerLink="/login">Volver al Login</a>
				</div>
			</div>
		</div>
	</div>
</section>