<div class="input" class="{{size()}}" [ngClass]="{'border-solid': styled() === 'outlined'}" [ariaDisabled]="disabled()">
    <input [disabled]="disabled()"
    #inputApp
    [type]="type()"
    [value]="value()"
    (input)="writeValue(inputApp.value)"
    (change)="onChange(inputApp.value)"
    (blur)="onTouched()"
    class="form-control input__box"    
    [placeholder]="placeHolder()">
    @if(isPasswordInput) {        
        <button (click)="onShowPassword()" type="button" class="btn"><i class="fa-regular" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i></button>
    }
</div>
