.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .custom-checkbox input {
    display: none; /* Oculta el checkbox original */
  }
  
  .custom-checkbox span {
    width: 20px; /* Tamaño del círculo */
    height: 20px;
    border: 2px solid #4caf50; /* Borde del círculo */
    border-radius: 50%; /* Hace el cír  culo redondo */
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    // font-size: 10px;
    color: #4caf50;
  }
  
  .custom-checkbox input:checked + span {
    background-color: #4caf50; /* Color de fondo cuando está seleccionado */
    border-color: #4caf50;
  }

  .outline {
    background: #4caf50;
  }

  .outline::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) scale(0);
    // transition: transform 0.3s ease;
  }

  
  // .custom-checkbox span::after {
  //   content: "";
  //   width: 12px;
  //   height: 12px;
  //   // background-color: #fff;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%) scale(0);
  //   transition: transform 0.3s ease;
  // }
  
  // .custom-checkbox input:checked + span::after {
  //   transform: translate(-50%, -50%) scale(1); /* Aparece el punto interior */
  // }
  


