<div class="container py-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
         <div class="col-md-2 text-center">
              <p class="size-md content-high color-yellow"><i class="fa fa-exclamation-circle fa-5x"></i><br/>Status Code: 500</p>
         </div>
         <div class="col-md-10">
              <h3 class="size-lg content-high color-yellow title-error">Error del Servidor</h3>
              <p class="size-md content-low color-yellow text-error">Lo sentimos, ha ocurrido un error interno del servidor.<br/>Nuestro equipo técnico ha sido notificado y está trabajando para resolver el problema.</p>
              <bgz-button type="primary" routerLink="/">Volver al inicio</bgz-button>
         </div>
    </div>
</div>

