<div class="d-flex flex-column">
    <h5 class="font-hight-retro color-dark me-3 d-flex align-items-center">Crear nuevo usuario</h5>
</div>
<div class="d-flex justify-content-center h-100">
    <div class="w-100">
        <div class="card-body">
            <form [formGroup]="presenter.form" class="form">
                <div class="w-100 input-group">
                    <app-input type="text" styled="outlined" class="col-md-6 p-3" formControlName="name"  placeHolder="nombre"></app-input>
                    <app-input type="text" styled="outlined" class="col-md-6 p-3" formControlName="lastname" placeHolder="apellidos"></app-input>
                </div>
                <div class="w-100 form-group input-group">
                    <app-input type="email" styled="outlined" class="col-md-6 p-3" formControlName="email" placeHolder="example@mail.com"></app-input>
                    <div class="form-group col-md-6 p-3">
                        <select formControlName="role" class="form-select form-select-lg">
                            @for (item of paginationResolve()?.data; track item.name) {
                                <option value="{{item.id}}">{{item.name}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="w-100 input-group">
                    <app-button (click)="onSave()" class="p-3">CONFIRMAR</app-button>
                </div>
            </form>
        </div>
    </div>
</div>