<section class="container vh-100">
	<div class="d-flex justify-content-center h-100">
		<div class="form">
			<div class="card-header">
				<h3 class="font-plane-cash">RECUPERAR CONTRASEÑA</h3>
			</div>
			<div class="card-body">
				@if (errorMessage()) {
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{errorMessage()}}
						<button (click)="errorMessage.set(null)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				}
				
				<form [formGroup]="presenter.form">
					<div class="input-group form-group mb-3">
						<app-input 
							formControlName="emailControl" 
							[errorControl]="presenter.ERROR_CONTROL.email" 
							class="w-100" 
							type="email"
							placeHolder="email@example.com">
						</app-input>
					</div>
					
					<div class="form-group">
						<app-button (click)="requestPasswordReset()">
							ENVIAR SOLICITUD
						</app-button>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center mb-2 mt-2">
					<a routerLink="/login">Volver al Login</a>
				</div>
			</div>
		</div>
	</div>
</section>
