/* Forgot Password Styles - Based on login component */
@use "../../../assets/_variables" as *;

.container {
    height: 100%;
    align-content: center;
    background-image: radial-gradient(circle, rgb(0 0 0 / 30%) 5%, rgb(0 0 0 / 98%)), url(./../../../assets/images/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #040404;
}

.form {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    background-color: $color_gray_2;
    border-radius: 17px;
    background-color: #4aa1ad;
    color: $color_dark;
    border-style: solid;
    box-shadow: 0px 0px 20px 0px;
    width: 500px;
    .card-header h3 {
        color: $color_dark;
        text-align: center;
 
    }

    .input-group-prepend span {
        width: 50px;
        background-color: $color_yellow;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .login_btn {
        color: black;
        background-color: $color_yellow;
        width: 100%;
    }

    .login_btn:hover {
        color: black;
        background-color: white;
    }

    .card-footer a {
        color: white;
        text-decoration: none;
    }

    .card-footer a:hover {
        color: $color_yellow;
        text-decoration: none;
    }
}
