<section class="confirm-validation">
    <!-- HIDDEN PREHEADER TEXT -->
    <div class="confirm-validation__text-thanks">Nos emociona darte la bienvenida como escritor generador de contenido de programación. Tu rol será clave para inspirar, educar y empoderar a programadores de todos los niveles.

        En Hardcodeando, creemos en el impacto de compartir conocimientos y construir una comunidad fuerte. Tus ideas y experiencia enriquecerán nuestra misión, ayudando a transformar conceptos complejos en recursos accesibles y útiles para todos.
        
        Gracias por confiar en nosotros y por formar parte de este equipo apasionado. Estamos seguros de que juntos lograremos grandes cosas.
        
        ¡Bienvenido a la familia de Hardcodeando! ¡Sigamos construyendo el futuro del código!</div>
    <table  cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tbody>
            <tr>
                <td class="bg-color-red-dark">
                    <table  class="" width="100%" style="max-width: 600px;">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bg-color-red-dark " align="center" style="padding: 0px 10px 0px 10px;">
                    <table  class="" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tbody>
                            <tr>
                                <td class="bg-color-gray-2 confirm-validation__head-card confirm-validation--head-border" align="center" valign="top">
                                    <h1 style="font-size: 48px; font-weight: 400; margin: 2;">Bienvenido a HardCodeando</h1> <img src=" https://img.icons8.com/clouds/100/000000/sad.png" alt="Icono de bienvenida" width="125" height="120" style="display: block; border: 0px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                    <table  class=""  cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tbody>
                            <tr class="">
                                <td class="bg-color-gray-2" align="left" style="padding: 20px 30px 40px 30px; color: white; font-size: 18px; font-weight: 400; line-height: 25px;">
                                    <p style="margin: 0;">Nos emociona darte la bienvenida como creador de contenido de programación. Tu experiencia será clave para inspirar y educar a nuestra comunidad, creando recursos útiles y accesibles.<br><br>Estamos seguros de que juntos lograremos grandes cosas. ¡Gracias por formar parte de Hardcodeando! ¡Sigamos construyendo el futuro!</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" align="left">
                                    <table width="100%"  cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="bg-color-gray-2" align="center" style="padding: 20px 30px 60px 30px;">
                                                    <table  cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="border-radius: 3px;">
                                                                    <app-button routerLink="/login" type="primary">INICIAR SESION</app-button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr> <!-- COPY -->
                           
                            <tr>
                                <td class="bg-color-gray-2 " align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: white; font-size: 18px; font-weight: 400; line-height: 25px;">
                                    <p style="margin: 0;">Bienvenido al equipo,<br><strong>HardCodeando</strong></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 30px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tbody>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        
        
    </table>
</section>