@use "../fonts/fonts" as *;


.dark-theme {
    background-color: var(--color-black); /* $color_dark */
    color: var(--color-yellow-500); /* $color_yellow */
    font-family: $font_typewriter;
    .title_section {
        color: white;
    }    

    .card-title {
        color: white;
    }
}




