@use "../_variables" as *;
@use "../fonts/fonts" as *;


.dark-theme {
    background-color: $color_dark;
    color: $color_yellow;
    font-family: $font_typewriter;
    .title_section {
        color: white;
    }    

    .card-title {
        color: white;
    }
}




