<div class="d-flex flex-column">
    <h5 class="font-hight-retro color-dark me-3 d-flex align-items-center">Control roles</h5>
    <div class="d-flex flex-row">
        <a routerLink="/mangment/roles/create" class="color-gray text-decoration-none pointer"><i class="fa-solid fa-plus me-2"></i>Add new role</a>
    </div>
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
        @for (item of roles(); track item.name) {
            <tr>
                <th scope="row">{{$index + 1}}</th>
                <td>{{ item.name +' '+item.name }}</td>
                <td>empty</td>
                <td>
                  <button class="btn p-0 button--round button--xs bg-color-yellow color-white"
                          routerLink="/managment/roles/create"
                            data-title="Edit route"><i class="fa-solid fa-pen"></i></button>
                </td>
              </tr>
        }
    </tbody>
  </table>