<section class="container vh-100">
	<div class="d-flex justify-content-center h-100">
		<div  class="form">
			<div class="card-header">
				<h3 class="font-plane-cash">Sign In</h3>
				<div class="d-flex justify-content-end form__social_icon">
					<span class=""><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="presenter.form">
					<div class="input-group form-group mb-3">
                        <app-input formControlName="usernameControl" [errorControl]="presenter.ERROR_CONTROL.email"  class="w-100" placeHolder="username"></app-input>
					</div>
					<div class="input-group form-group mb-3">
						<app-input formControlName="passwordControl" [errorControl]="presenter.ERROR_CONTROL.password"  class="w-100" type="password" placeHolder="password"></app-input>
					</div>
					<div class="row align-items-center remember mb-3">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<app-button (click)="login()">LOGIN</app-button>
					</div>
				</form>
			</div>
			<div class="card-footer">
				
				<div class="d-flex justify-content-center mb-2 mt-2">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</section>