<div class="blog-skeleton w100">
    <bgz-shimmer shimmerWidth="30%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />

    <div class="text-lg-left d-flex mt-3 flex-lg-row mb-4 flex-column justify-content-lg-between gap-2">
        <div class="d-flex">
            <bgz-shimmer shimmerWidth="45px" shimmerHeight="45px" borderRadius="radius-lg" theme="dark" />
            <div class="d-flex flex-column ms-3 justify-content-between">
                <bgz-shimmer shimmerWidth="100px" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer class="mt-2" shimmerWidth="200px" shimmerHeight="20px" borderRadius="radius-xs"
                    theme="dark" />
            </div>
        </div>
        <div class="d-flex align-items-end">
            <bgz-shimmer shimmerWidth="261px" class="mt-sm-2" shimmerHeight="20px" borderRadius="radius-xs"
                theme="dark" />
        </div>
    </div>

    <div class="d-flex flex-column gap-4">

        @for (item of [1,2]; track $index) {
        <div class="d-flex flex-column gap-2">
            <bgz-shimmer shimmerWidth="30%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="40%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
        </div>
        }
        <bgz-shimmer shimmerWidth="100%" shimmerHeight="250px" borderRadius="radius-xs" theme="dark" />
        <div class="d-flex flex-column gap-2">
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />
        </div>

        <bgz-shimmer shimmerWidth="100%" shimmerHeight="200px" borderRadius="radius-xs" theme="dark" />
        <bgz-shimmer shimmerWidth="40%" shimmerHeight="20px" borderRadius="radius-xs" theme="dark" />

    </div>