<section class="container d-flex flex-column align-items-center blog">
    <div class="d-flex w-100 flex-column align-items-center">
        <app-navbar [items]="navbarItems" class="w-md-100 w-auto"></app-navbar>
    </div>
    <article>
        <header class="w-100 mt-5">
            <span class="color-gray blog__tag">Angular | <i class="fa-brands fa-angular"></i></span>
            <div class="row mt-4 mt-lg-3">
                <h4 class="font-hight-retro_1">{{article.title}}</h4>
            </div>
            <div class="row mt-4 mt-lg-3">
                <div class="text-lg-left d-flex flex-lg-row flex-column justify-content-lg-between">
                    <div class="d-flex">
                        <div class="position-relative d-flex align-items-center">
                            <div class="avatar"><img src="https://avatars.githubusercontent.com/u/12477590?v=4"
                                    alt="avatar" class="avatar-img rounded-circle"></div>
                        </div>
                        <div class="d-flex flex-column ms-3 blog-information h7">
                            <a href="#" class="mt-2 mb-0 d-block font-plane-cash blog__user-creator">Joset Manihuari
                                Yaricahua</a>
                            <ul class="list-inline list-unstyled d-flex flex-row m-0">
                                <li class="list-inline-item d-lg-block blog__information-item">Nov 15, 2021 |</li>
                                <li class="list-inline-item d-lg-block blog__information-item">5 min read</li>
                            </ul>
                        </div>
                    </div>
                    <aside class="d-flex align-items-end">
                        <div class="d-flex flex-column">
                            <ul class="list-inline list-unstyled d-flex flex-row m-0">
                                <li class="list-inline-item d-lg-block blog__information-item">My networks:</li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-x-twitter"></i></li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-youtube"></i></li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-github"></i></li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-linkedin"></i></li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-facebook-f"></i></li>
                                <li class="list-inline-item d-lg-block cursor-pointer blog__information-item"><i
                                        class="fa-brands fa-discord"></i></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </header>
        <div class="col-lg-12 mt-3 blog__content">
            <p class="mt-2">For who thoroughly her boy estimating conviction. Removed demands expense account in outward
                tedious do. Particular way thoroughly unaffected projection favorable Mrs can be projecting own. Thirty
                it
                matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but.
                Drawings offended yet answered Jennings perceive laughing six did far.</p>
            <p class="mb-0 mb-lg-3">Perceived end knowledge certainly day sweetness why cordially. On forth doubt miles
                of
                child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new
                manners savings staying had. Under folly balls, death own point now men. Match way these she avoids
                seeing
                death. She who drift their fat off. Ask a quick six seven offer see among. Handsome met debating sir
                dwelling age material. As style lived he worse dried. Offered related so visitors we private removed.
            </p>
            <p><span class="dropcap h6 mb-0 px-2">S</span> atisfied conveying a dependent contented he gentleman
                agreeable
                do be. Water timed folly right aware if oh truth. Imprudence attachment him for sympathize. Large above
                be
                to means. Dashwood does provide stronger is. <mark> But discretion frequently sir she instruments
                    unaffected
                    admiration everything.</mark> Meant balls it if up doubt small purse. Required his you put the
                outlived
                answered position. A pleasure exertion if believed provided to. All led out world this music while
                asked.
                Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on
                style child of. Servants moreover in sensible it ye possible.</p>
            <ul class="list-group list-group-borderless mb-3">
                <li class="list-group-item"><i class="fas fa-check-circle text-success me-2"></i>The copy warned the
                    Little
                    blind text</li>
                <li class="list-group-item d-flex"><i class="fas fa-check-circle text-success me-2 mt-1"></i>ThaT where
                    it
                    came from it would have been rewritten a thousand times and everything that was left from origin
                    would
                    be the world</li>
                <li class="list-group-item"><i class="fas fa-check-circle text-success me-2"></i>Return to its own, safe
                    country</li>
            </ul>
            <p class="mb-0">Warrant private blushes removed an in equally totally if. Delivered dejection necessary
                objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh
                truth.
                Imprudence attachment him for sympathize.</p><q class="lead">Farther-related bed and passage comfort
                civilly. Fulfilled direction use continual set him propriety continued. Concluded boy perpetual old
                supposing. Dashwoods see frankness objection abilities.</q>
        </div>
    </article>
    <div class="mt-5 w-100 d-flex justify-content-lg-between">
        <div class="d-flex flex-row align-items-center">
            <h6 class="me-4 d-inline-block m-0 blog__social-networks">Share on:</h6>
            <ul class="list-inline m-0">
                <li class="list-inline-item"><a href="#" class="btn px-2 btn-sm blog__social-networks"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="btn px-2 btn-sm blog__social-networks"><i
                            class="fa-brands fa-x-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="btn px-2 btn-sm blog__social-networks"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <hr class="w-100">
    <div class="mt-4">
        <div class="suggested-articles">
            <h5 class="suggested-articles__title">Suggested articles</h5>
            <div class="w-100 d-flex row ms-0">
                @for(article of articlesSuggest; track article.id ) {
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
                        <app-article [article]="article"></app-article>
                    </div>
                }
                
    
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>