<div class="container py-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
         <div class="col-md-2 text-center">
              <p class="size-md content-high color-yellow"><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 404</p>
         </div>
         <div class="col-md-10">
              <h3 class="size-lg content-high color-yellow title-error">¡Ups! Acceso denegado</h3>
              <p class="size-md content-low color-yellow text-error">Lo sentimos, su acceso ha sido denegado por motivos de seguridad del servidor y protección de datos sensibles.<br/>Por favor, vuelva a la página anterior para continuar navegando.</p>
         </div>
    </div>
</div>