<div class="container py-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
         <div class="col-md-2 text-center">
              <p class="size-md content-high color-yellow"><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 404</p>
         </div>
         <div class="col-md-10">
              <h3 class="size-lg content-high color-yellow title-error">OPPSSS!!!! Sorry...</h3>
              <p class="size-md content-low color-yellow text-error">Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
         </div>
    </div>
</div>