@if(isFocusModal) {
<div class="search-modal" (click)="onFocus()" (keyup.enter)="onFocus()" tabindex="0" role="button"
    aria-label="Cerrar búsqueda"></div>
}

<section class="container d-flex flex-column align-items-center hero">
    <div class="d-flex w-100 flex-column align-items-center">
        <bgz-navbar [items]="navbarItems" class="w-md-100 w-auto"></bgz-navbar>
    </div>
    <div [attr.aria-labelledby]="'search-label'"
        class="w-100 hero__search d-flex flex-column justify-content-center align-items-center"
        [ngClass]="{'hero__search-active': isFocusModal}">
        <label id="search-label" for="search" class="text-center content-mid size-xlg p-3 color-yellow"
            [ngClass]="{'index-3': isFocusModal}">¿Qué estás
            buscando?</label>
        <div class="col-md-8 col-sm-12 col-lg-6" [ngClass]="{'index-3': isFocusModal}">
            <bgz-search id="search" aria-label="escribe lo que estás buscando" #SearchComponent placeHolder="Búscame..."
                (searchEvent)="onSearch($event)" (focusEvent)="onFocus()" (selectedEvent)="onSelected($event)"
                [items]="articlesTracked"></bgz-search>
        </div>
    </div>
</section>
<section class="container">
    <h2
        class="font-hight-retro text-center d-flex flex-column align-items-center mb-3 mt-3 size-lg content-high color-white">
        Agregados recientemente
        <span class="underline bg-color-white"></span>
    </h2>
    <div class="row w-100 d-flex m-0">
        @defer (when articlesTop();) {
        @for(article of articlesTop(); track article.id) {
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <bgz-article [article]="article"></bgz-article>
        </div>
        }
        } @placeholder {
        @for(i of [1, 2, 3]; track i) {
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex flex-column gap-3">
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="200px" borderRadius="radius-md" theme="dark" />
            <div class="d-flex flex-column gap-1">
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
            </div>
        </div>
        }
        } @loading(minimum 500ms) {
        @for(i of [1, 2, 3]; track i) {
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex flex-column gap-3">
            <bgz-shimmer shimmerWidth="100%" shimmerHeight="200px" borderRadius="radius-md" theme="dark" />
            <div class="d-flex flex-column gap-1">
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
                <bgz-shimmer shimmerWidth="100%" shimmerHeight="15px" borderRadius="radius-xs" theme="dark" />
            </div>
        </div>
        }
        }


    </div>
</section>
<bgz-footer></bgz-footer>