<div class="d-flex flex-column">
    <h5 class="color-dark me-3 d-flex align-items-center size-lg content-high">Mi colección de blogs</h5>
    <div class="d-flex flex-row">
        <a routerLink="/managment/blog/create" class="color-gray text-decoration-none size-md content-low"><i class="fa-solid fa-plus me-2"></i>Preparar nuevo blog</a>
    </div>
</div>


<table class="table">
    <thead>
      <tr>
        <th class="size-md content-mid" scope="col">#</th>
        <th class="size-md content-mid" scope="col">Título</th>
        <th class="size-md content-mid" scope="col">Estado</th>
        <th class="size-md content-mid" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>

        @for (item of blogs(); track $index) {
            <tr>
                <td class="size-md content-low">{{$index + 1}}</td>
                <td class="size-md content-low">{{item.title}}</td>
                <td class="size-md content-low">{{item.stage}}</td>
                <td>

                    <button 
                    
                        [routerLink]="'/managment/blog/'+item.stage + '/'+item.slug"
                        class="btn ms-1 button--round button--sm bg-color-yellow color-white size-md content-low"
                        data-title="Abrir contenido"><i class="fa-regular fa-folder-open"></i>
                    </button>

                </td>
                
            </tr>
        }
    </tbody>
  </table>