<div class="d-flex flex-column">
    <h5 class="font-hight-retro color-dark me-3 d-flex align-items-center">{{ currentRole() ? 'Actualizar rol' : 'Agregar nuevo rol' }}</h5>
</div>
<div class="d-flex justify-content-center h-100">
    <div class="w-100">
        <div class="card-body">
            <form [formGroup]="createRolePresenter.form" class="form">
                <div class="w-100 input-group">
                    <bgz-input [formControl]="createRolePresenter.name" type="text" styled="outlined" class="col-md-12 p-3" placeHolder="name"></bgz-input>
                </div>
                <div class="w-100 form-group input-group">
                    <bgz-tree-view [formControl]="createRolePresenter.permissions" [items]="permissions() || []"></bgz-tree-view>
                </div>
                <div class="w-100 input-group">
                    <bgz-button (click)="onSave()" class="p-3">CONFIRMAR</bgz-button>
                </div>
            </form>
        </div>
    </div>
</div>