<footer>
    <div class="w-100 text-center">

        <nav tabindex="0" class="social-nav" aria-label="Redes sociales">
            <ul class="social-list d-flex justify-content-center gap-3 p-0 m-0" role="list">
                <li role="listitem">
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"
                        aria-label="visitanos en LinkedIn">
                        <i class="fab fa-linkedin size-md color-yellow"></i>
                    </a>
                </li>
                <li role="listitem">
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
                        aria-label="visitanos Twitter">
                        <i class="fab fa-twitter size-md color-yellow"></i>
                    </a>
                </li>
                <li role="listitem">
                    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"
                        aria-label="visitanos en Facebook">
                        <i class="fab fa-facebook size-md color-yellow"></i>
                    </a>
                </li>
                <li role="listitem">
                    <a href="https://youtube.com" target="_blank" rel="noopener noreferrer"
                        aria-label="visitanos en YouTube">
                        <i class="fab fa-youtube size-md color-yellow"></i>
                    </a>
                </li>
                <li role="listitem">
                    <a href="https://github.com" target="_blank" rel="noopener noreferrer"
                        aria-label="visitanos GitHub">
                        <i class="fab fa-github size-md color-yellow "></i>
                    </a>
                </li>
            </ul>
        </nav>

        <p class="copy-right size-sm content-low color-yellow mt-3">
            © {{ currentYear }} {{ appName }}. Todos los derechos reservados
        </p>

    </div>
</footer>