<section class="bg-color-dark">
    @if (!isResourceFound()) {
        <app-error-404></app-error-404>
    }
    @if (isResourceFound()) {
        <div class="my-3 p-3 rounded box-shadow scroll-x">
            <div id="blog-render" [innerHTML]=" blogContainer()"></div>
        </div>
    }
    
</section>

@if (isResourceFound()) {
    <div class="d-flex w-50 w-md-100">
        <app-button (click)="moveEditing()" class="me-2" >VOLVER A EDITAR</app-button>
        <app-button (click)="movePublic()" >MOVER A PUBLICO</app-button>
    </div>
}
