$color_dark: #010101;
$color_yellow: #f4cd25; 
$color_light: #ffff;
$color_gray: #acacac;

$color_gray_2: #4aa1ad;
$color_orange: #d6b830;
$color_gray_3: hsl(0deg 7.67% 77.71%);


.color-gray {
    color: $color_gray;
}