@use "../../../../assets/_variables" as *;

.container {
    padding: 0px;
    margin: 0px;
    &__button {
        border-radius: 27px;
        background-color: white;
        font-size: 18px;
        height: 55px;
        padding: 10px 20px;
        min-width: 120px;
        border-style: none;
        
        &-primary {
            background: $color_yellow;
            
        }

        &-success {
            background: $color_gray;
        }

        &-danger {
            background: $color_red_dark;
        }

        &-info {
            background: $color_pink;
        }

        &-warning {
            background: $color_yellow;
        }

    }
}