/* You can add global styles to this file, and also import other style files */
@use "assets/_variables" as *;
@use "assets/fonts/fonts" as *;
@use "assets/foundations.scss" as *;



@media (min-width: 768px) {
    .w-md-auto {
        width: auto;
    }


}

@media (max-width: 991px) {
    .w-md-100 {
        width: 100% !important;
    }
}

.circule {
    border-radius: 50%;
}


.underline {
    padding: 0px;
    margin: 0px;
    display: block;
    width: 40px;
    height: 3px;
    bottom: 0px;
    left: calc(50% - 20px);
    background: $color_yellow;
}

.card {
    border: none;
    background-color: transparent;
}

.pointer {
    cursor: pointer;
}

.input {
    border-radius: 27px;
    background-color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-width: 2px;

    .ligth {
        box-shadow: 3px 3px 8px 2px;
    }

    &--sm {
        height: 45px;
    }

    &--lg {
        height: 55px;
    }

    .normal {
        box-shadow: none;
    }

    &__box {
        border-style: none;
        height: 100%;
        margin-left: 10px;
        font-size: 18px;
    }

    &__box::placeholder {
        font-size: inherit;
    }

    &__box:focus {
        border-color: white;
        box-shadow: none;
    }


    &__icon {
        width: 50px;
        height: 45px;
        background-color: $color_yellow;
        color: white;
        border-style: none;
    }

    &__icon:hover {
        background-color: $color_orange;
    }

}

.input:focus {
    border-color: $color_orange;
}

.hide {
    display: none !important;
}

[aria-disabled="true"] {
    background-color: #e9ecef;
}

.error {
    color: $color_yellow;
    font-size: 15px;
}

.dropdown-item {
    padding: 0.5rem 1rem;
}


.avatar {
    width: 2.3rem;
    height: 2.3rem;

    img {
        width: 100%;
        height: 100%;
    }

    &__name {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    &__name:hover {
        color: white;
    }
}

.wrem-3 {
    width: 3rem !important;
}

.hrem-3 {
    height: 3rem !important;
}


/**tool tip***/

[data-title] {
    position: relative;
    cursor: pointer;
  }

  /* Texto del tooltip */
  [data-title]::before {
    content: attr(data-title); /* Usa el valor de data-title */
    position: absolute;
    top: -35px; /* Posición por encima del elemento */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0; /* Invisible inicialmente */
    visibility: hidden; /* No ocupa espacio */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
  }

  /* Flecha del tooltip */
  [data-title]::after {
    content: '';
    position: absolute;
    top: -4px; /* Ajustar debajo del tooltip */
    left: 50%;
    transform: rotateZ(180deg);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* Mostrar tooltip al hacer hover */
  [data-title]:hover::before,
  [data-title]:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .border-solid {
    border-style: solid;
  }

  .button {
    &--round {
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    &--sm {
        height: 45px;
        width: 45px;
    }

    &--xs{
        width: 35px;
        height: 35px;
    }

    &--lg {
        height: 55px;
        width: 55px;
    }

    &--border-solid {
        border-style: solid;
        border-color: $color_dark;
        border-width: 2px;
    }

    &--active {
        background-color: $color_pink !important;

    }
  }

  

  

  .scroll-x {
    overflow-x: scroll;
  }


  .swal2-actions {
    
    button {
        border-radius: 27px;
        background-color: white;
        font-size: 18px;
        height: 55px;
        padding: 10px 20px;
        min-width: 120px;
        border-style: none;
        
       

    }

    .swal2-confirm {
        background: $color_yellow !important;
    }

    .swal2-cancel {
        border-color: $color_red_dark !important;
        border-style: solid;
        border-width: 3px;
        background-color: white !important;
        color: $color_dark;
    }
}


/********************/

.terminal  {
    overflow-x: auto;
    background: #414449;
    color: #b3bccc;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
    margin-bottom: 25px;
}

.terminal__bar {
    width: 100%;
    height: 35px;
    background: #f3eeee;
    display: flex;
    align-items: center;
    padding-left: 15px
}

.terminal__bash_icon--red {
    color: #FC625D;
}

.terminal__bash_icon--yellow {
    color: #FDBC40;
}

.terminal__bash_icon--green {
    color: #34C759;
}

.terminal__bash_icon {
    font-size: 15px;
}
.terminal__block {
    padding: 15px;
}
.terminal__title  {
    color: $color_dark;
}

 .blog-container {
    h1, h2, h3, h4, h5 {
        color: $color_yellow;
    }

    a {
        color: $color_gray_3;
    }
    color: $color_gray_5;
}



.fig-img-simple {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
}
.fig-img-simple > div {
    max-width: 650px;
    display: flex;
    justify-content: center;
}

.fig-img-simple.img-bg {
    background:  #e8e8eb40;
}

.fig-img-simple.img-border {
    padding: 10px;
    border: 1px solid #e8e8eb3b;
}

figure.fig-img-simple .image-container {
    max-width: 60%;
}

figure.fig-img-simple.img-bg  .image-container {
    max-width: 60%;
}

figure.fig-img-simple.img-fullwidth  .image-container {
    max-width: 100%;
}

figure.fig-img-simple.img-bg .image-container img {
    width: 100%;
}




/***
MODIFICAR ESTILOS DE RENDER
**/

#blog-render, .codex-editor {
    color: $color_gray_3;
    font-weight: 100;
    font-family: $font_typewriter;
    
    h1, h2, h3, h4, h5,h6 {
        color: $color_orange;
        font-family: $font_navbar;
        text-transform: lowercase;
        letter-spacing: 3px; 
    }

    h1 {
        font-size: var(--size-lg);
        font-weight: 100;
    }

    h2 {
        font-size: var(--size-md);
        font-weight: 100;
    }
    
    h3 {
        font-size: var(--size-sm);
        font-weight: 100;
    }

    h4 {
        font-size: var(--size-xs);
        font-weight: 100;
    }

    h5 {
        font-size: var(--size-xxs);
        font-weight: 100;
    }

    h6 {
        font-size: var(--size-xxs);
        font-weight: 100;
    }

    b {
        font-weight: bold;
        color: darkcyan;
    }

}

.codex-editor {
    h1, h2, h3, h4, h5 {
        color: $color_dark;
    }

    a {
        color: $color_gray_3;
    }
    color: $color_dark;
}

/******

AVATAR WRITER
*****/
.avatar {
    
    position: relative;
    display: inline-block !important;

    &__user-name {
        color: white;
        text-transform: lowercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: .65rem;
    }
}

.avatar-xxl {
    height: 2.8rem;
    width: 2.8rem;
}

@media (min-width: 768px) {
    .avatar-xxl {
        width: 2.3rem;
        height: 2.3rem;
    }
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.list-inline {
    color: $color_gray;
    font-family: $font_typewriter;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}