@use "../../../../assets/_variables" as *;
@use "../../../../assets/fonts/fonts" as *;

.navbar {
    background-color: $color_gray_2;
    color: $color_dark;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-style: solid;
    box-shadow: 0px 0px 20px 0px;
    min-height: 4rem;
    height: auto;
    font-family: $font_navbar;

    &__logo {
        height: 40px;
    }
}

.navbar-brand {
    color: black;
    font-size: 1rem;
}

.nav-item {
    font-size: 0.8rem;
}

.nav-link {
    color: black;
}

.dropdown-menu {
    background: $color_yellow;
    border: 2px ridge black;
    border-radius: 27px;
    border-bottom: 5px ridge black;
    padding: 1em;
    font-size: 0.8rem;

    > li:first-child:hover a {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    > :last-child:hover a {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: $color_orange;
    color: $color_dark;
}
