<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex flex-row" routerLink="/">
      <img class="navbar__logo" src="icons/logo.png">
      <div class="ps-3 d-flex flex-row justify-content-center align-items-center">
        <div class="d-flex flex-row align-items-baseline">
          <h1 class="size-lg content-high color-dark">PECODE</h1>
          <h1 class="size-sm content-high color-dark">.com</h1>
        </div>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-menu-button-wide">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-menu-button-wide" viewBox="0 0 16 16">
          <path
            d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z" />
          <path
            d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
        </svg>
      </i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        @if (authService.check()) {
        <li class="nav-item">
          <a class="nav-link size-lg content-high" [class.active]="isActiveRoute('/home')" routerLink="/home">home</a>
        </li>
        }
        @for (item of items(); track item.label) {
        @if (!item.items?.length) {
        <li class="nav-item">
          <a class="nav-link content-high size-lg" [class.active]="isActiveRoute(item.route)"
            [routerLink]="'/'+item.route.replace(':id?', '')">{{item.label}}</a>
        </li>
        } @else {
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link dropdown-toggle content-high size-lg" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{item.label}}
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @for (subItem of item.items; track subItem.label) {
            <li><a class="dropdown-item content-high size-md color-dark" [routerLink]="subItem.route">{{subItem.label}}</a>
            </li>
            }

          </ul>
        </li>
        }

        }

        @if(authService.check()) {
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle size-lg content-high" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            my account
          </a>


          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item size-md content-high" routerLink="/profile">profile</a></li>
            <li><a class="dropdown-item size-md content-high" routerLink="/profile">security and privacity</a></li>
            <li><a class="dropdown-item size-md content-high" (click)="logout()">logout</a></li>
          </ul>
        </li>
        }

      </ul>
    </div>
  </div>
</nav>