@use "../../../../assets/_variables" as *;

.navbar {
    background-color: $color_gray_2;
    color: $color_dark;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-style: solid;
    box-shadow: 0px 0px 20px 0px;
    min-height: 4rem;
    &__logo {
        height: 40px;
    }
}
.navbar-nav {
    gap: 1rem;
}

.navbar-brand {
    color: black;
    font-size: 1rem;
}

.nav-item {
    font-size: 0.8rem;
}

.nav-link {
    color: black;
    padding: 0px !important;
    transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}

.nav-link.active {
    color: $color-yellow;
}


.nav-link:hover {
    color: $color-yellow;
    font-size: calc(var(--font-size-lg) + 0.2rem);
}

.dropdown-menu {
    background: $color_yellow;
    border: 2px ridge black;
    border-radius: 27px;
    border-bottom: 5px ridge black;
    padding: 1em;
    font-size: 0.8rem;

    > li:first-child:hover a {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    > :last-child:hover a {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: $color_orange;
    color: $color_dark;
}


.dropdown-toggle::after {
     margin-left: 0px; 

}